<h4>Atnaujinti <%= @participant.driver_name %>, <%= @participant.co_driver_name %> įrašą</h4>

<%= render 'form' %>

<%= link_to "Grįžti į #{@participant.team_name}", rally_participants_path(@rally), :class => 'label' %>
