<h3>Apie mus</h3>

<p align="justify">Projektas skirtas automobilių sporto entuziastam. Tai nekomercinis projektas.
</p>

<p>
  <strong>Komanda:</strong>
  <ul>
    <li>Darius Šileikis</li>
    <li>Giedrius Šileikis</li>
    <li>Giedrius Rimkus</li>
  </ul>

  <i>Kontaktai:</i><br>
  info@raceonline.lt<br>
  +370 614 90278<br>
  +370 647 13899<br>
  <br>

  Fanų puslapis:<br>
  <%= link_to 'http://www.facebook.com/raceonline.lt', 'http://www.facebook.com/raceonline.lt', :target => '_new' %>
</p>