<h3>Apie mus</h3>

<p align="justify">Šis projektas skirtas visiems ralio fanams, kurie vyksta į Lietuvos ralio etapus stebėti lenktynių. Ši mobilioji "programėlė" skirta visiems statistikos mylėtojams. Bandysime kuo operatyviau pateikti naujienas iš ralio etapų.
</p>

<p>
  <strong>Komanda:</strong>
  <ul>
    <li>Darius Šileikis</li>
    <li>Giedrius Šileikis</li>
    <li>Giedrius Rimkus</li>
  </ul>

  <i>Kontaktai:</i><br>
  info@raceonline.lt<br>
  +370 647 13899
</p>