<h4>Apie mus</h4>

<p align="justify">
  <i>RaceOnline</i> - tai vieta, kurioje Jūs galite stebėti visus įvykius iš Lietuvoje vykstančių automobilių sporto varžybų. Šis internetinis puslapis yra skirtas ralio, o ateityje ir daugelio kitų, automobilių sporto šakų, rezultatams atvaizduoti.<br>
  Dar prieš važiuojant į varžybas, Jūs galite pamatyti varžybų aprašymą ir programą, atsispausdinti etapų žemėlapius, pamatyti dalyvių sąrašą. Būdami lenktynėse, galite nuolatos stebėti lenktynininkų laikus, varžybų nuotraukas, sužinoti naujienas apie pasitraukusius dalyvius dėl techninių priežasčių ar nelaimingų atsitikimų, lenktynininkų gautas baudas ir pan. Taip pat viso sezono turnyrinę lentelę, kalendorių, orus.<br>
  Jums tereikia išmaniojo prietaiso (telefono, planšetės ar kompiuterio) bei interneto ryšio norint pasiekti šią svetainę. Ateityje žadame leisti patiems žiūrovams talpinti įvairią informaciją šioje svetainėje.
</p>

<div class="row-fluid">
<div class="span6">
<p>
  <strong>Komanda:</strong>
  <ul>
    <li>Darius Šileikis</li>
    <li>Giedrius Šileikis</li>
    <li>Giedrius Rimkus</li>
  </ul>

  <i>Kontaktai:</i><br>
  info@raceonline.lt<br>
  +370 614 90278<br>
  +370 647 13899<br>
  <br>

  Fanų puslapis:<br>
  <%= link_to 'http://www.facebook.com/raceonline.lt', 'http://www.facebook.com/raceonline.lt', :target => '_new' %>
</p>
</div>
<div class="span6">
<p style="color: grey; font-size: 12px">
  <strong>Draugai</strong><br>
  Norime pasidalinti kita lietuviška iniciatyva, tai<br> <u>Dirt Rally</u> - virtualus žaidimas (simuliatorius), kuriame žaidėjai yra ralio komandų vadovai.<br>
  <%= link_to 'http://play.dirtrally.net', 'http://play.dirtrally.net' %>
  <%= link_to(image_tag('http://www.dirtrally.net/naujausias.png', :width => '150px'), 'http://play.dirtrally.net') %><br>
  Fanų puslapis:<br>
  <%= link_to 'http://www.facebook.com/dirtrally', 'http://www.facebook.com/dirtrally', :target => '_new' %>
</p>
</div>
</div>