<h3>Dalyvių sąrašas</h3>

<h4>Saugos automobiliai</h4>
<table class="table table-striped table-condensed">
  <tr>
    <th width="20px">Eil. Nr.</th>
    <th>Ekipažas<br>Komanda</th>
    <th>Automobilis</th>
    <th><%= link_to 'Įsk.', '#', :rel => 'tooltip', :title => 'Klasė / Įskaita' %></th>
    <th>Šalis</th>
  </tr>
  <tr>
    <td>1.</td>
    <td>K. Gedgaudas, V. Mitkus</td>
    <td>Subaru Impreza Sti</td>
    <td>01</td>
    <td>LT</td>
  </tr>
  <tr>
    <td>2.</td>
    <td>V. Pupius, G. Račas</td>
    <td>Renault Clio</td>
    <td>02</td>
    <td>LT</td>
  </tr>
  <tr>
    <td>3.</td>
    <td>R. Pagirskas, L. Kriūnas</td>
    <td>VW Golf III</td>
    <td>03</td>
    <td>LT</td>
  </tr>
  <tr>
    <td>4.</td>
    <td>A. Sakalauskis, A. Sakalauskis</td>
    <td>Mitsubishi Colt</td>
    <td>04</td>
    <td>LT</td>
  </tr>
</table>

<h4>Dalyviai</h4>
<table class="table table-striped">
  <tr>
    <th width="20px">Eil. Nr.</th>
    <th>Ekipažas<br>Komanda</th>
    <th>Automobilis</th>
    <th><%= link_to 'Įsk.', '#', :rel => 'tooltip', :title => 'Klasė / Įskaita' %></th>
    <th>Šalis</th>
  </tr>
</table>