<h3>Dalyvių sąrašas</h3>

<table class="table table-striped">
  <tr>
    <th width="20px">Eil. Nr.</th>
    <th>Ekipažas<br>Komanda</th>
    <th>Automobilis</th>
    <th><%= link_to 'Įsk.', '#', :rel => 'tooltip', :title => 'Klasė / Įskaita' %></th>
    <th>Šalis</th>
  </tr>
</table>