<h4>Pasitraukimai</h4>

<table class="table table-condensed table-striped">
  <tr>
    <th>Ekipažas</th>
    <th>GR</th>
    <th>Priežastis</th>
  </tr>
  <% @retirements.each do |retirement| %>
    <tr>
      <td><%= full_team(retirement.participant) %></td>
      <td><%= retirement.stage.name %></td>
      <td><%= retirement.reason %></td>
    </tr>
  <% end %>
  <% if @retirements.size == 0 %>
  <tr>
    <td colspan="3">Informacijos apie pasitraukimus nėra!</td>
  </tr>
  <% end %>
</table>

<%= render 'layouts/print' %>
<hr>
<% if Rails.env.production? %>
  <h6>Komentarai</h6>
  <div class="fb-comments" data-href="http://www.raceonline.lt/pasitraukimai" data-num-posts="10"></div>
<% end %>