<h4>Turnyrinė lentelė</h4>
<div class="alert alert-info">Informacija vis dar ruošiama..</div>

<%= render 'layouts/print' %>
<%= render :partial => 'facebook_comments', :locals => { :url => standings_url } %>