<h4>Turnyrinė lentelė</h4>
<div class="alert alert-info">Tikslesnė informacija vis dar ruošiama..</div>
<table class="table table-condensed table-striped">
  <tr>
    <th width="20px">Klasė</th>
    <th>Vardas, pavardė</th>
    <th>I</th>
    <th>II</th>
    <th>III</th>
    <th>IV</th>
    <th>V</th>
    <th>VI</th>
    <th>VII</th>
    <th>VIII</th>
    <th>Viso</th>
  </tr>
  <tr>
    <td>2</td>
    <td>Deividas Jocius</td>
    <td>12</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>12</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Dominykas Butvilas</td>
    <td>10.5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>10.5</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Vytautas Švedas</td>
    <td>8</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>8</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Martynas Samuitis</td>
    <td>7</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>7</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Rokas Kvaraciejus</td>
    <td>6</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>6</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Ramūnas Čapkauskas</td>
    <td>5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>5</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Vaidotas Žala</td>
    <td>4</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>4</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Gintautas Šlepikas</td>
    <td>12.5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>12.5</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Paulius Nanartavičius</td>
    <td>10</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>10</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Ignas Taletavičius</td>
    <td>8</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>8</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Reinaldas Šeinauskas</td>
    <td>7</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>7</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Mantvydas Repšys</td>
    <td>6</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>6</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Jonas Pipiras</td>
    <td>5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>5</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Saulius Trapuila</td>
    <td>4</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>4</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Justas Tamašauskas</td>
    <td>3</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>3</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Arūnas Lopetaitis</td>
    <td>2</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>2</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Ramūnas Myniotas</td>
    <td>1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>1</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Krzysztof Skalski</td>
    <td>0.5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0.5</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Konstantinas Gorbas</td>
    <td>0.5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0.5</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Arūnas Vaičiūnas</td>
    <td>3</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>3</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Tomas Bilius</td>
    <td>0.5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0.5</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Tomasz Kasperczyk</td>
    <td>0.5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0.5</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Ričardas Baubinas</td>
    <td>0.5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0.5</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Petras Šiaučiūnas</td>
    <td>0.5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0.5</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Jonas Grigalevičius</td>
    <td>0.5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0.5</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Joana Survilaitė</td>
    <td>2</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>2</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Karolis Šiugždinis</td>
    <td>0.5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0.5</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Giedrius Notkus</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Aleksey Sivirchukou</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Gediminas Ramonas</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Mindaugas Taraila</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Egidijus Savickas</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Eugenijus Michalauskas</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Karolis Raišys</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Martynas Samsonas</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Remigijus Veikalas</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Paulius Gintalas</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Dovilas Čiutelė</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Tomas Stabingis</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Valerijus Murnikovas</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Benediktas Vanagas</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Linas Vaškys</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Janis Feldmanis</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Mantas Morkis</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Andrei Goloborodko</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Mindaugas Daunoravičius</td>
    <td>0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
</table>

<%= render 'layouts/print' %>
<%= render :partial => 'facebook_comments', :locals => { :url => standings_url } %>