<h4>Orai</h4>

<!-- Gismeteo informer START -->
<link rel="stylesheet" type="text/css" href="http://www.gismeteo.lt/static/css/informer2/gs_informerClient.min.css">
<div id="gsInformerID-UH6SShQLCSnAPh" class="gsInformer" style="width:350px;height:227px">
  <div class="gsIContent">
   <div id="cityLink">
     <a href="http://www.gismeteo.lt/city/daily/16169/" target="_blank">Orai Kražiuose</a>
   </div>
   <div class="gsLinks">
     <table>
       <tr>
         <td>
           <div class="leftCol">
             <a href="http://www.gismeteo.lt" target="_blank">
               <img alt="Gismeteo" title="Gismeteo" src="http://www.gismeteo.lt/static/images/informer2/logo-mini2.png" align="absmiddle" border="0" />
               <span>Gismeteo</span>
             </a>
           </div>
           <div class="rightCol">
             <a href="http://www.gismeteo.lt/city/weekly/16169/" target="_blank">Prognozė 2 savaitėms</a>
           </div>
           </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="http://www.gismeteo.lt/ajax/getInformer/?hash=UH6SShQLCSnAPh" type="text/javascript"></script>
<!-- Gismeteo informer END -->
<br>
<%= image_tag '/orai.png' %><br><br>
<span class="label label-important">Pastaba:</span> <i>nuotrauka paimta iš gismeteo.lt svetainės.</i>
<%= render :partial => 'facebook_comments', :locals => { :url => weather_url } %>