<h4>Orai</h4>

<!-- Gismeteo informer START -->
<link rel="stylesheet" type="text/css" href="http://www.gismeteo.lt/static/css/informer2/gs_informerClient.min.css">
<div id="gsInformerID-5HM3L668i44Qrk" class="gsInformer" style="width:350px;height:227px">
  <div class="gsIContent">
   <div id="cityLink">
     <a href="http://www.gismeteo.lt/city/daily/4164/" target="_blank">Orai Kelmėje</a>
   </div>
   <div class="gsLinks">
     <table>
       <tr>
         <td>
           <div class="leftCol">
             <a href="http://www.gismeteo.lt" target="_blank">
               <img alt="Gismeteo" title="Gismeteo" src="http://www.gismeteo.lt/static/images/informer2/logo-mini2.png" align="absmiddle" border="0" />
               <span>Gismeteo</span>
             </a>
           </div>
           <div class="rightCol">
             <a href="http://www.gismeteo.lt/city/weekly/4164/" target="_blank">Prognozė 2 savaitėms</a>
           </div>
           </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="http://www.gismeteo.lt/ajax/getInformer/?hash=5HM3L668i44Qrk" type="text/javascript"></script>
<!-- Gismeteo informer END -->