<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<%= link_to 'Rally Live', root_path, :class => 'brand' %>
<div class="nav-collapse">
  <ul class="nav">
    <li><%= link_to '- Rezultatai', root_path %></li>
    <li><%= link_to '- Apie projektą', about_us_path %></li>
    <li class="divider-vertical"></li>
  </ul>
</div>
